{% extends "base.html" %}
{% load i18n static %}

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/modal.css" %}"/>
{% endblock %}

{% block supercontent %}
  <div class="modal-dialog">
    <div class="modal-content">
      {% block "breadcrumbs" %}
      {% if breadcrumbs %}
        <div class="modal-header modal-breadcrumbs">
          {% include "breadcrumbs.html" %}
        </div>
      {% endif %}
      {% endblock %}
      <div class="modal-header">
        {% block "dialog-title" %}<h4 class="modal-title">{% block "title" %}{{ title|default:"Dialog Title" }}{% endblock %}</h4>{% endblock %}
        {% block "dialog-subtitle" %}{% endblock %}
        {% if form.non_field_errors %}
          {{ form.non_field_errors }}
        {% endif %}
      </div>
      <div class="modal-body">
        {% block "dialog-body" %}{% endblock %}
        {% if form or formset or delete %}
          {% block "dialog-form" %}
            <form method="POST" action="{% block "dialog-action" %}{% endblock %}"
                 {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
              {% csrf_token %}

              <input type="hidden" name="msie11bug" value="http://stackoverflow.com/questions/20149751/ie11-only-submit-bug" />

              {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
              {% elif request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
              {% endif %}

              {% if form.fieldsets %}
                <div class="tabs">
                  {% for label, fieldset in form.fieldsets %}
                    <label class="tab{% if fieldset.errors %} errors{% endif %}" for="tab{{ forloop.counter }}">{{ label }}</label>
                  {% endfor %}
                </div>
                {% for label, fieldset in form.fieldsets %}
                  <div class="fields" id="tab{{ forloop.counter }}">
                    {% include "modal-fields.html" %}
                  </div>
                {% endfor %}
              {% elif formset %}
                {{ formset.management_form }}
                <div class="tabs">
                  {% for form in formset %}
                  <label class="tab{% if form.instance.slug %}{% if request.GET.tab == form.instance.slug %} selected{% endif %}{% if form.errors %} errors{% endif %}" id="tab_{{ form.instance.slug }}{% endif %}" for="tab{{ forloop.counter }}">{{ form.label }}</label>
                  {% endfor %}
                  {% block "extra-tabs" %}{% endblock %}
                </div>
                {% for fieldset in formset %}
                  <div class="fields" id="tab{{ forloop.counter }}">
                    {% if fieldset.description %}<p class="description">{{ fieldset.description|safe }}</p>{% endif %}
                    {% include "modal-fields.html" %}
                  </div>
                  {% block "extra-tab-fields" %}{% endblock %}
                {% endfor %}
              {% else %}
                {% with form as fieldset %}
                  {% include "modal-fields.html" %}
                {% endwith %}
              {% endif %}

              <div class="modal-footer">
                {% block "form-buttons" %}
                  <button type="submit" class="btn btn-primary">Go</button>
                {% endblock %}
              </div>
            </form>
          {% endblock %}
        {% else %}
          <div class="modal-footer">{% block "dialog-buttons" %}{% endblock %}
          </div>
        {% endif %}
        </div>
      </div>
  </div>
{% endblock %}
